.logo {
  min-width:980px;
  margin:0 auto;
}


.nav-bar {
  height: 30px
  position:absolute;
  top: 10px;
  left: 0px;
  right: 0px;
}

.left-navbar {
 padding-left: 15px;
 position:relative;
 margin-top: 10px;
 float: left;
 left:0px;

}

.right-navbar {
  position: relative;
  float:right;
  padding-right: 15px;

}

li {
  display: inline-block;
  padding-left: 15px;
  opacity: 0.76;
  font-family: arial, sans-serif;
  font-size: 13px;
  list-style-type: none;

}
li a{
  text-decoration: none;
  color: #000;
}
